.footer {
  background: var(--background-dark);
  text-align: center;
  color: var(--light-color);
  padding: 20px;
  font-size: 14px;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @media (min-width: 1024px) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.footer-domain {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.footer-text {
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.8;
}
