.header {
  background: var(--background-light);
  padding: 15px 0;
  color: var(--light-color);
  width: 100%;
}
.header-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}
.logo {
  font-size: clamp(1.375rem, 0.693vw + 1.196rem, 1.75rem);
  line-height: clamp(2.063rem, 0.393vw + 1.961rem, 2.275rem);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo span {
  font-family: var(--second-family);
  color: var(--accent-green);
}
.nav {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 90px;
    align-items: center;
  }
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links li {
  display: inline;
}
.nav-links a {
  font-family: var(--second-family);
  text-decoration: none;
  font-size: clamp(1rem, 0.693vw + 0.821rem, 1.375rem);
  line-height: clamp(1.5rem, 0.531vw + 1.363rem, 1.788rem);
  transition: color var(--time-function);
  text-transform: uppercase;
  &:hover {
    color: var(--primary-color);
  }
}
.nav-contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-contact a {
  font-size: clamp(0.875rem, 0.462vw + 0.755rem, 1.125rem);
line-height: clamp(1.313rem, 0.277vw + 1.241rem, 1.463rem);
}
.menu-toggle {
  font-size: clamp(1rem, 0.693vw + 0.821rem, 1.375rem);
  line-height: clamp(1.5rem, 0.531vw + 1.363rem, 1.788rem);
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    top: 62px;
    right: 0;
    background: var(--background-dark);
    width: 60%;
    height: 50vh;
    text-align: center;
    padding: 20px 0;
    z-index: 3;
  }
  .nav-links {
    align-items: end;
    flex-direction: column;
    gap: 15px;
    padding: 0 50px;
  }
  .nav.show {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .menu-toggle {
    display: block;
  }
}
