.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 190px 60px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);
}
.hero-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.hero-title {
  width: 100%;
  margin: 0 auto;
  max-width: 725px;
  color: var(--light-color);
}
.hero-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;

  color: var(--logo-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 600;
  transition: background-color var(--time-function);
  &:hover {
    background-color: var(--hover-color);
  }
}
