.tasting-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

.tasting-list {
  list-style: none;
  padding: 20px 0 0;
}

.tasting-list li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tasting-image {
  flex: 1;
  text-align: center;
}

.tasting-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .tasting-content {
    flex-direction: column;
    text-align: center;
  }

  .tasting-text {
    font-size: 1.1rem;
  }
}

.services {
  max-width: 1200px;
  overflow: hidden;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: end;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}
.services-item {
  display: grid;
  gap: 15px;
  grid-template-columns: 150px 1fr;
  align-items: start;
}
.services-image {
  width: 100%;
  height: 180px;
  background-color: var(--third-color);
  @media (min-width: 1280px) {
    width: 88%;
    height: 350px;
  }
}
.services-image img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}
.services-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.services-heading {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondory-color);
  margin-bottom: 10px;
}
.services-text {
  font-size: 14px;
  color: var(--third-color);
  margin-bottom: 15px;
}

.testimonial {
  position: relative;
}
.testimonial-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 180px;
  }
}
.testimonial-item {
  display: none;
  opacity: 0;
  transition: opacity var(--time-function);
}
.testimonial-item.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  opacity: 1;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (min-width: 768px) {
    flex-direction: column;
  }
}
.profile-img {
  width: 70px;
  height: 70px;
  padding: 5px;
  background-color: var(--second-bg-color);
  border-radius: 50%;
}
.profile-info {
  font-size: 14px;
  color: var(--main-color);
}
.profile-name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.profile-date {
  color: var(--third-color);
  font-size: 14px;
}
.testimonial-text {
  width: 100%;
  max-width: 550px;
  font-size: clamp(1.375rem, 1.617vw + 0.957rem, 2.25rem);
  line-height: clamp(2.063rem, 1.594vw + 1.65rem, 2.925rem);
  font-weight: bold;
  color: var(--main-color);
  margin-top: 10px;
}
.testimonial-controls {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  gap: 8px;
}
.prev-btn,
.next-btn {
  width: 50px;
  height: 50px;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;

  color: var(--logo-color);
  background-color: var(--highlight-color);
  font-size: 20px;
  transition: background-color var(--time-function);
  &:hover {
    background-color: var(--third-color);
  }
}
.next-btn .dots {
  display: flex;
  gap: 6px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: var(--border-color);
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background-color: var(--accent-color);
}
